<table>
  <tbody>
    <tr>
      <td>
      <h3>You've got a new message from:<h3>
        <p>Name : <%= @name %> </p>
        <p>Email : <%= @email %> </p>
        <p>Message : <%= @message %> </p>
      </td>
    </tr>
  </tbody>
</table>