<div class="about text-center padding-section">
        <h1 class=" padding-section"> Contact us </h1>
        <p>
            WE ARE HERE TO ANSWER ANY QUESTIONS YOU MAY HAVE ABOUT OUR WEBSITE EXPERIENCES REACH OUT TO US AND WE'LL RESPOND AS SOON AS WE CAN. EVEN IF THERE IS SOMETHING YOU HAVE ALWAYS <br/>WANTED TO EXPERIENCE AND CAN'T FIND IT ON WEBSITE<br/> LET US KNOW AND WE PROMISE WE'LL DO OUR BEST TO FIND IT FOR YOU AND SEND YOU THERE.
        </p>
    </div>
    <div class="  text-center">
        <form action="/action_page.php" method="get" name="myForm" >
            <h1 class="faq">Contact Us</h1>
            <p>Please take a moment to get in touch, we will get back to you shortly.</p>
            <div class="col-md-8 col-xs-8 col-lg-8 text-center ">
                <div class="form-group">
                    <label for="the-name">Your Name</label>
                    <input type="textBox" placeholder="Enter your name" class=" form-control inputs" required="required"  minlength="10" name="" id="the-name">
                    <p class="visible-form" id="visible-Name"></p>


                    <label for="the-email">Email Address</label>
                    <input type="email"  placeholder=" Enter your email samah@gmail.com" class=" form-control inputs" required="required" minlength="10" name="" id="the-email">
                    <p class="visible-form" id="visible-Email"></p>


                    <label for="the-phone">Phone Number</label>
                    <input type="number"  placeholder="Enter the phone number 123456789" class=" form-control inputs"   minlength="10" name="" id="the-phone">
                    <p class="visible-form" id="visible-Phone"></p>


                    <label for="the-message">Message</label>
                    <textarea style="resize:none" cols="40" rows="5"  placeholder="Your message here"  required="required" class="message-box" minlength="20" name="" id="the-message"></textarea>
                    <p class="visible-form" id="visible-comment"></p>
                    <span id="char-count"> The number of characters :</span>

                    <input  type="submit"  name=""  value="Send Message" id="submit">
                </div>
            </div>
        </form>
    </div>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13607.270802792382!2d34.475599273182546!3d31.501694302010367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14fd7f054e542767%3A0x7ff98dc913046392!2z2LrYstip!5e0!3m2!1sar!2s!4v1509442593608"  frameborder="0" style="border:0"  height="300px"  allowfullscreen width=100%"></iframe>

    </div>

</div> 
    </div>
