// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*contact*/
*
.thanks{
   padding-top:50px;
}
.form-control{
    width:50%;
    margin-left:200px;
}

.contact{
 text-align:center;
 color:#b3c5f5;
}