// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*contact*/
label{
    display: block;
    color: #282034;

}
/* single-line text, checkbox, and button */
form input,  textarea{
    display: block;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px #CCC;
    resize: vertical; 
    color: #282034;
    border-radius: 9px;

}
form textarea{
    min-height: 180px;
    color :#282034;
    border-radius: 9px;
}

form input[type=submit]{
    background: #f7b07c;
    margin: 1em 0 0;
    color: white;
    border: none;
    border-radius:8px;
    transition: all .3s ease-out;
}