// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*contact*/
label{
    display: block;
    color: #282034;
     margin-left:300px;

     

}
.thanks{
    padding-top:50px;
}
.form-control{
    width:50%;
    margin-left:300px;
}

.contact{
 text-align:center;
 color:#b3c5f5;
}
.form_label{
    background-color:#b3c5f5;
      margin-left:300px;
      width:10%;
          border-radius: 8px;


}