// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.padding {
  padding: 100px;
  font-size: 6.5em;
color:green;
}
.space{
padding:50px;
}
.red{
color:red;
}
.blue{
color:blue;
}
.green{
color:green;
}
.btn-theme {
    color: #15cbf7;
    background-color: #FFFFFF;
    border: 2px solid ;
    margin-right: 15px;
    border-radius: 8px;
}
.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}



